/* ##############################################################################

    COMMON

############################################################################## */
  @import url(//use.fontawesome.com/releases/v5.0.11/css/all.css);
  body {
    font: 15px/1.231 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
    font-weight: 500;
    font-feature-settings: "palt";
    line-height: 1.8;
    letter-spacing: .08em;
    *font-size: small;
    *font: x-small;
    color: #000;
    -webkit-font-smoothing: antialiased;
  }
  @media all and (-ms-high-contrast:none) {
    body {
      font-family: 'メイリオ', 'Meiryo', 'Lato', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
    }
  }
  ul,
  ol { list-style: none; }
  small { font-size: 86%; }
  a,
  a[href="javascript:void(0);"]:hover {
    color: #003953;
    text-decoration: underline;
    transition: all .4s ease-out;
    outline : none;
  }
  a:hover,
  a:focus {
    text-decoration: none !important;
  }
  img {
    vertical-align: middle;
  }

  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
      -webkit-text-size-adjust: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }