/* Wysiwyg editor
 **************************************** */
  .mce-content-body {
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
  }
  .mce-content-body ul:not(:first-child),
  .mce-content-body ol:not(:first-child) {
    margin-top: 1em;
  }
  .mce-content-body ul:not(:last-child),
  .mce-content-body ol:not(:last-child) {
    margin-bottom: 1em;
  }
  .mce-content-body ul li,
  .mce-content-body ol li {
    position: relative;
    margin: 0;
    border-bottom: none;
    padding: 0;
    margin-left: 2em;
    padding-top: 8px;
    line-height: 1.65;
  }
  .mce-content-body ul li {
    list-style-type: disc;
  }
  .mce-content-body ol li {
    list-style-type: decimal;
  }
  .mce-content-body img {
    margin: 20px 0;
    max-width: 100%;
    height: auto;
  }
  .mce-content-body hr {
    background: transparent;
  }
  .mce-content-body .alignleft {
    float: left;
    clear: left;
    margin: 0 30px 30px 0;
  }
  .mce-content-body .alignright {
    float: right;
    clear: right;
    margin: 0 0 30px 30px;
  }
  .mce-content-body .aligncenter {
    display: block;
    margin: 30px auto;
  }
  .mce-content-body p {
    letter-spacing: .1em;
  }
  .mce-content-body p:not(:last-child) {
    margin-bottom: 1em;
  }
  .mce-content-body blockquote {
    margin: 1em 0;
    padding: 15px 40px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    font-style: oblique;
    color: #666;
    background-color: #f8f8f8;
  }
  .mce-content-body blockquote p { margin-bottom: 0; }
  .mce-content-body p strong,
  .mce-content-body p b {
    position: relative;
    background-image: linear-gradient( transparent 70%, #FBE191 70%, #FBE191 100%);
  }
  .mce-content-body blockquote:before,
  .mce-content-body blockquote:after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    opacity: .25;
  }
  .mce-content-body blockquote:before {
    background-image: url('../images/common/icon-quote_left.svg');
    top: 13px;
    left: 10px;
  }
  .mce-content-body blockquote:after {
    background-image: url('../images/common/icon-quote_right.svg');
    bottom: 13px;
    right: 10px;
  }
  .mce-content-body a:hover {
    text-decoration: underline;
  }
  .mce-content-body .footer_text small {
    display: block;
    margin-top: 8px;
    text-align: right;
  }
  .mce-content-body table {
    border: none;
    height: auto !important;
    margin: auto;
  }
  .mce-content-body table:not(:first-child) { margin-top: 1em; }
  .mce-content-body table:not(:last-child) { margin-bottom: 1em; }
  .mce-content-body tr {
    position: relative;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
  .mce-content-body th,
  .mce-content-body td,
  .mce-content-body tr {
    height: auto !important;
  }
  .mce-content-body th,
  .mce-content-body td {
    padding: 16px 8px;
  }
  .mce-content-body th {
    min-width: 120px;
    max-width: 30%;
    width: 30%;
    vertical-align: middle;
    line-height: 1.2em;
    text-align: left;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 16px;
    font-family: A1 mincho;
    font-size: 120%;
    background: transparent!important;
    border-bottom: 2px solid #003d7c;
  }
  .mce-content-body td {
    flex: 1;
    line-height: 1.5;
    vertical-align: middle;
    background: transparent!important;
    border-bottom: 2px solid #b0c7d2;
  }
  .mce-content-body sup {
    font-size: 70%;
    color: #555;
  }

  /*iframe--youtube*/
  .mce-content-body .iframe--youtube {
    position: relative;
    margin-bottom: 40px;
    padding-top: calc(100% * .5625);
  }
  .mce-content-body .iframe--youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*table scroll*/
  .scroll {
    overflow-x: scroll;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;
  }
  .scroll table { margin: 0; }
  .scroll--cap {
    text-align: right;
    margin: 24px 0 0 !important;
    opacity: .25;
    font-size: 93%;
  }

  @media (max-width: 1080px) {
    .table-sp-full {
      width: 100% !important;
    }
    .table-sp-full th,
    .table-sp-full td {
      flex: 1;
    }
    .table-sp-block,
    .table-sp-block th,
    .table-sp-block td {
      width: 100% !important;
    }
    .table-sp-block th,
    .table-sp-block td {
      display: block;
    }
  }
  @media (max-width: 767px) {
    .mce-content-body {
      font-size: 100%;
    }
    .mce-content-body .alignright,
    .mce-content-body .alignleft  {
      width: 100% !important;
      float: none;
      margin: 20px auto;
      display: block;
    }
    .mce-content-body blockquote {
      padding: 15px;
    }
    .mce-content-body blockquote:before {
      top: 0;
      left: 0;
    }
    .mce-content-body blockquote:after {
      bottom: 0;
      right: 0;
    }
    .mce-content-body ul li {
      padding-left: 0;
    }
    .mce-content-body ul li:before {
      left: -14px;
      padding-top: 6px;
      font-size: 12px;
    }
    .mce-content-body .col-md-6:first-child {
      margin-bottom: 24px;
    }
    .mce-content-body th {
      padding-right: 8px;
      padding-bottom: 0;
      font-weight: bold;
    }
    .mce-content-body th,
    .mce-content-body td {
      padding: 8px;
      font-size: 100%;
    }
  }

/* 管理画面エディタ用
*************************************************** */
  .mce-content-body.wp-editor {
    padding: 24px !important;
    max-height: 100vh !important;
    overflow-y: scroll !important;
  }

  @media (max-width: 767px) {
    .mce-content-body.wp-editor table tr *:first-child:nth-last-child(2),
    .mce-content-body.wp-editor table tr *:first-child:nth-last-child(2) ~ * {
      display: table-cell;
      width: auto !important;
    }
  }
